// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body.tic-tac-toe {
    background: #eeeeee;
    color: $text-color;
    padding: 30px 0;

    @include media-breakpoint-up(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
